name: Continuous Deployment

on:
  push:
    branches:
      - deploy

jobs:
  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Kubernetes
        uses: ./.github/actions/deploy
        with:
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: 'production'
          resource_group: 'autopr-rg'
          cluster_name: 'autopr-aks'

      - name: Smoke Test
        run: |
          sleep 60
          IP=$(kubectl get service codeflow-engine-service -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
          curl -s --fail http://$IP/health
