name: Destroy Infrastructure

on:
  workflow_dispatch:

jobs:
  destroy-infra:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.2.0'

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init
        working-directory: infrastructure/terraform

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        working-directory: infrastructure/terraform
